#newProfile{
    -fx-pref-width:300.0px;
    -fx-pref-height:40.0px;
}

#apply{
    -fx-pref-width:200.0px;
    -fx-pref-height:30.0px;
}

#vBox{
    -fx-alignment: center;
}

.playerButton{
    -fx-pref-width:200.0px;
    -fx-pref-height:40.0px;
}