#title{
    -fx-effect: dropshadow( gaussian , black , 5, 1.0, 1 , 1 );
}

#powerButton{
    -fx-background-image: url("./textures/icons/powerButton.png");
}

#paramButton{
    -fx-background-image: url("./textures/icons/parameters.png");
}
